/.idea/*
/node_modules/*
/node_modules
/app/app.component.js
/app/app.component.js.map
/app/app.module.js
/app/app.module.js.map
/app/components/contactUs/contactUs.js
/app/components/contactUs/contactUs.js.map
/app/components/home/homeComponent.js
/app/components/home/homeComponent.js.map
/app/components/ourRecentWork/ourRecentWorkComponent.js
/app/components/ourRecentWork/ourRecentWorkComponent.js.map
/app/components/ourServices/ourServicesComponent.js
/app/components/ourServices/ourServicesComponent.js.map
/app/components/shared/footerComponent/footerComponent.js
/app/components/shared/footerComponent/footerComponent.js.map
/app/components/shared/headerComponent/headerComponent.js
/app/components/shared/headerComponent/headerComponent.js.map
/app/components/shared/profitComponent/profitComponent.js
/app/components/shared/profitComponent/profitComponent.js.map
/app/components/shared/profitComponent/profitModel.js
/app/components/shared/profitComponent/profitModel.js.map
/app/components/shared/serviceComponent/serviceComponent.js
/app/components/shared/serviceComponent/serviceComponent.js.map
/app/components/shared/serviceComponent/serviceItemModel.js
/app/components/shared/serviceComponent/serviceItemModel.js.map
/app/components/shared/workComponent/workComponent.js
/app/components/shared/workComponent/workComponent.js.map
/app/components/shared/workComponent/workModel.js
/app/components/shared/workComponent/workModel.js.map
/app/components/whyWe/whyWeComponent.js
/app/components/whyWe/whyWeComponent.js.map
/app/main.js
/app/main.js.map
/app/routing.js
/app/routing.js.map
/npm-debug.log
