node_modules/
dist/
prod/
app/**/*.js
app/**/*.map
/.idea/mainSite.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/npm-debug.log.2141047883
/prod/app.bundle.js
/prod/app.bundle.js.map
/prod/main.bundle.js
/prod/vendor.bundle.js.map
/.idea/dictionaries/vgoreiko.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/app/components/contactUs/contactUs.js.map
/app/components/homeSlider/homeSlider.js.map
/app/components/ourRecentWork/ourRecentWorkComponent.js.map
/app/components/profitComponent/profitComponent.js.map
/app/components/slideComponent/slideComponent.js.map
/app/components/whyWe/whyWeComponent.js.map
/app/components/workComponent/workComponent.js.map
/app/components/workComponent/workModel.js.map
/app/mocks/ourRecentWorksMock.js.map
/app/mocks/servicesMock.js.map
/app/mocks/slidesMock.js.map
/app/mocks/whyWeMock.js.map
/app/models/profitModel.js.map
/app/models/serviceItemModel.js.map
/app/models/slideModel.js.map
/app/models/workModel.js.map
/app/services/main.service.js.map
/app/services/ourRecentWorks.service.js.map
/app/services/slides.service.js.map
/app/services/whyWe.service.js.map
/app/views/contactUs/contactUsView.js.map
/app/views/ourWork/ourWorkView.js.map
/app/views/portfolio/portfolioView.js.map
/app/components/*.map
/app/views/home/*.map
/app/views/ourService/*.map
/app/views/ourServices/*.map
/app/components/shared/headerComponent/*.map
/app/components/mainSlideComponent/mainSlideComponent.js.map
/app/components/serviceComponent/serviceComponent.js.map
/app/components/shared/footerComponent/footerComponent.js.map
/app/components/shared/preloaderComponent/preloaderComponent.js.map
/app/components/shared/subFooterComponent/subFooterComponent.js.map
