<section class="container">
    <h1 class="text-center">Our Recent Work</h1>
    <p class="text-center">Plastic design & develop digital experiences that put people first.
    </p>
    <section class="row" *ngIf="recentWork">
        <div *ngFor="let item of recentWork" class="col-sm-4 col-xs-12">
            <a routerLink="/ourWork/{{item.id}}">
                <work [witem]="item"></work>
            </a>
        </div>
    </section>
    <p class="text-center">
        <a routerLink="/portfolio" class="text-color-6">SEE ALL WORKS</a>
    </p>
</section>