@import "../../../styles/variables";
.carousel {
    .slider-img {
        position: absolute;
    }

    .slide {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15%;
    }

    .item {
        color: white;
    }
}

.slide-mark {
    display: inline-block;
    background: @blue;
    padding: 0.5em 2em;
}
