@import "../../../styles/variables";

main-slide {
    position: relative;
    display: block;
    margin-top: -10%;
}

.carousel .slider-img {
    position: absolute;
}

.carousel .slide {
    display: table;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: @gray2;
    padding: 0 10%;
    height: 100%;
    padding-bottom: 30px;
}

.carousel .item {
    color: @white;
    margin-top: 30px;
}

.slide-info {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.slide-mark {
    font-size: @tag-font-size;
    display: inline-block;
    background: @blue;
    padding: 0.5em 3em;
}
