<section class="main-slider-section">
    <carousel [interval]="carousel.interval" [noWrap]="carousel.noWrapSlides">
        <slide *ngFor="let slidez of homeSlides; let index=index"
               [active]="slidez.active">
            <main-slide [slide]="slidez"></main-slide>
        </slide>
    </carousel>
</section>

<section class="services">
    <h1 class="text-center">{{'Our services' | translate}}</h1>
    <p class="text-color-2 text-center hidden-sm hidden-xs">Clients work with us for our user-first digital solutions with
        a wealth of experience across multiple industries
    </p>
    <section class="container">
        <ul class="row">
            <li *ngFor="let item of services" class="col-md-4 col-sm-6 text-center-sm-xs">
                <a [routerLink]="['/ourService', item.id]" *ngIf="item.providing" class="service-link">
                    {{item.title}}
                    <i class="glyphicon glyphicon-menu-right"></i>
                </a>
                <span *ngIf="!item.providing" class="hidden-sm hidden-xs">
                    {{item.title}}
                </span>
            </li>
        </ul>
        <div class="text-center">
            <a [routerLink]="['/workflow']" class="btn btn-primary workflow border-radius btn-wider btn-inversed">Workflow</a>
        </div>
    </section>
</section>

<section class="our-works-section">
    <div class="container">
        <h1 class="text-center">Our Recent Work</h1>
        <p class="text-center hidden-xs hidden-sm text-muted">
            We appreciate our customers. In any work it is important to remain humans, as it is easier to destroy than
            to create. And we want to create: draw, write, develop, advise, implement, build not only projects,
            but also lasting friendly relations with everyone whom meet on our way.
        </p>
        <div class="row padded-bottom">
            <carousel [interval]="carousel.interval" [noWrap]="carousel.noWrapSlides" class="no-rounds hidden-sm hidden-xs">
                <slide *ngFor="let slidez of ourWorksTransformed; let index=index" class="row"
                       [active]="slidez.active">
                    <work [witem]="slidez[0]" class="col-sm-6"></work>
                    <work [witem]="slidez[1]" class="col-sm-6"></work>
                </slide>
            </carousel>

            <carousel [interval]="carousel.interval" [noWrap]="carousel.noWrapSlides" class="no-rounds visible-sm visible-xs">
                <slide *ngFor="let slidez of ourWorks; let index=index" class="row"
                       [active]="slidez.active">
                    <work [witem]="slidez" class="col-sm-6"></work>
                </slide>
            </carousel>

        </div>
        <p class="text-center">
            <a routerLink="/portfolio" class="btn btn-primary border-radius btn-wider btn-inversed">Show More</a>
        </p>
    </div>
</section>

<contact-us></contact-us>
