<section class="main-slider-section">
    <carousel [interval]="carousel.interval" [noWrap]="carousel.noWrapSlides">
        <slide *ngFor="let slidez of homeSlides; let index=index"
               [active]="slidez.active">
            <main-slide [slide]="slidez"></main-slide>
        </slide>
    </carousel>
</section>

<section class="services">
    <h1 class="text-center">{{'Our services' | translate}}</h1>
    <p class="text-color-2 text-center hidden-sm hidden-xs">Clients work with us for our user-first digital solutions with
        a wealth of experience across multiple industries
    </p>
    <section class="container">
        <ul class="row">
            <li *ngFor="let item of services" class="col-md-4 col-sm-6">
                <a [routerLink]="['/ourService', item.id]" *ngIf="item.providing" class="service-link">
                    {{item.title}}
                    <i class="glyphicon glyphicon-menu-right"></i>
                </a>
                <span *ngIf="!item.providing">
                    {{item.title}}
                </span>
            </li>
        </ul>
        <div class="text-center">
            <a [routerLink]="['/workflow']" class="btn btn-primary workflow border-radius btn-wider btn-inversed">Workflow</a>
        </div>
    </section>
</section>

<section class="our-works-section">
    <div>
        <h1 class="text-center">Our Recent Work</h1>
        <p class="text-center hidden-xs hidden-sm">Plastic design & develop digital experiences that put people first.</p>
        <div class="hidden-sm hidden-xs container">
            <div class="row">
                <div *ngFor="let item of ourWorks;  let i=index" class="col-sm-4 col-xs-12">
                    <a routerLink="/ourWork/{{item.id}}" *ngIf="i<3">
                        <work [witem]="item"></work>
                    </a>
                </div>
            </div>
        </div>
        <div class="visible-sm visible-xs">
            <carousel [interval]="carousel.interval" [noWrap]="carousel.noWrapSlides">
                <slide *ngFor="let slidez of ourWorks; let index=index"
                       [active]="slidez.active">
                    <work [witem]="slidez"></work>
                </slide>
            </carousel>
        </div>
        <p class="text-center">
            <a routerLink="/portfolio" class="text-color-6">SEE ALL WORKS</a>
        </p>
    </div>
</section>

<contact-us></contact-us>
<sub-footer></sub-footer>