<div class="slide" [ngStyle]="{'background-image': 'url(' + item.imgUrl + ')'}">
    <section class="slide-info">
        <span class="slide-mark border-radius">{{item.title | translate}}</span>
        <h2>
            <span >{{item.heading | translate}}</span>
            <span>{{item.text | translate}}</span>
        </h2>
        <p class="slide-description hidden-xs text-color-1">{{item.desc | translate}}</p>
        <div class="show-more-section">
            <a class="btn btn-default border-radius" routerLink="/ourService/{{item.id}}">{{'Show More' | translate}}</a>
        </div>
    </section>
</div>