<section class="sub-footer container">
    <div class="row">
        <div class="col-sm-6">
            <p>
                <span class="text-success">Trident</span><em>. agency</em>
            </p>
            <p>
                We provide a full range of <br />
                IT-services, creating amazing things for customers worldwide.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="subfooter-menu hidden-xs">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Services</h4>
                        <ul>
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">UI/UX design</a></li>
                            <li><a href="#">Web development</a></li>
                            <li><a href="#">Mobile development</a></li>
                            <li><a href="#">Content creation</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>About Us</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Workflow</a></li>
                            <li><a href="#">Privacy police</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">E-mail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>