<div class="bg-color-1">
    <section class="sub-footer container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    <span><b>Trident</b></span><em class="text-success">. agency</em>
                </p>
                <p>
                    We provide a full range of <br />
                    IT-services, creating amazing things for customers worldwide.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="subfooter-menu hidden-xs">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="uppercase"><b>Services</b></h4>
                            <ul>
                                <li *ngFor="let item of services">
                                    <a [routerLink]="['/ourService', item.id]" *ngIf="item.providing">{{item.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="uppercase"><b>About Us</b></h4>
                            <ul>
                                <li><a routerLinkActive="active" routerLink="/experience">Experience</a></li>
                                <li><a routerLinkActive="active" routerLink="/workflow">Workflow</a></li>
                                <li><a routerLinkActive="active" routerLink="/privacyPolicy">Privacy police</a></li>
                                <li><a routerLinkActive="active" routerLink="/termsAndConditions">Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="uppercase"><b>Support</b></h4>
                            <ul>
                                <li><a routerLinkActive="active" routerLink="/faq">FAQ</a></li>
                                <li><a routerLinkActive="active" routerLink="/contactUs">Contact Us</a></li>
                                <!--<li><a routerLinkActive="active" routerLink="/email">E-mail</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
