<div class="container top-header">
    <div class="row content-margined">
        <div class="container text-center icon-bottom">
            <h3><b>Tell us about your project and let`s get started!</b></h3>
            <br />
            <h3 class="text-uppercase">our contacts</h3>
            <h3 class="text-muted">
                <a href="tel:+380975535588">
                    <span class="glyphicon glyphicon-phone"></span>
                    +38 (097) 553 55 88
                </a>
            </h3>
            <h3 class="text-muted">
                <a href="tel:+380638823404">
                    <span class="glyphicon glyphicon-phone"></span>
                    +38 (063) 882 34 04
                </a>
            </h3>
            <h3 class="text-muted">
                <a href="mailto:office@trident.agency">
                    <span class="glyphicon glyphicon-envelope"></span>
                    office@trident.agency</a>
            </h3>
            <h3 class="text-muted">
                <a href="mailto:info@trident.agency">
                    <span class="glyphicon glyphicon-envelope"></span>
                    info@trident.agency</a>
            </h3>
        </div>
    </div>
</div>