<div class="subheader-titled">
    <h1 class="text-center">Drop Us a Line</h1>
    <div>
        <span class="border-bottom"></span>
    </div>
</div>

<div class="container ">
    <div class="row content-margined">
        <div class="container text-center icon-bottom">
            <h3><b>Tell us about your project and let`s get started!</b></h3>
            <br />
            <h2 class="text-muted">
                <a href="tel:+380975535588">
                    <span class="glyphicon glyphicon-phone"></span>
                    +38 (097) 553 55 88
                </a>
            </h2>
            <h2 class="text-muted">
                <a href="tel:+380638823404">
                    <span class="glyphicon glyphicon-phone"></span>
                    +38 (063) 882 34 04
                </a>
            </h2>
            <h2 class="text-muted">
                <a href="mailto:office@trident.agency">
                    <span class="glyphicon glyphicon-envelope"></span>
                    office@trident.agency</a>
            </h2>
            <h2 class="text-muted">
                <a href="mailto:info@trident.agency">
                    <span class="glyphicon glyphicon-envelope"></span>
                    info@trident.agency</a>
            </h2>
        </div>
    </div>
</div>