<section class="container padded-bottom">
    <h2 class="text-center top-bottom-padded">Functional decisions for you business</h2>
    <p class="text-center padded-bottom">At Trident Agency, we create design for any kind of software, starting with mobile applications having
         unusual usability patterns and
        ending with complex web analytics tools requiring responsive design and featuring dozens of functions
    </p>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-uppercase text-right">UX Design</h4>
            <p>
                UX design is all about the usability and experience the user gets when interacting with your app.
                It is UX design that defines the logic of your product, the ways user will be able to achieve his
                goals and key elements that he will take advantage of throughout the process of using the product.
            </p>
        </div>
        <div class="col-md-4 text-center hidden-sm hidden-xs">
            <img src="../../../../styles/images/circles.png" class="full-width" alt="circles">
        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase">UI Design</h4>
            <p>
                UI design is the visual part of your solution. After UX design is done, it’s time to
                implement its blueprints into colorful screens that the user will see and eventually interact with.
                Thus, the UI designer picks the right color scheme for the product and makes the user interface
                look modern and up-to-date.
            </p>
        </div>
    </div>
    <h4 class="text-center text-uppercase">...Or both</h4>
    <p class="text-center">
        As both a web development and design company we often build products from scratch.
        While some projects are big and require a huge team, others allow having one designer
        responsible for both UI and UX design. Such wide expertise ensures: our professionals
        are more than competent to implement the best user experience through the awesome user
        interface in the most efficient manner.
    </p>
</section>

<section class="bg-color-1 top-bottom-padded">
    <div class="container">
        <h1 class="text-center">Workflow</h1>
        <p class="text-muted padded-bottom">We give ideas that define the strategy to achieve the goals set
            by the customer. Each graphic concept, corporate identity
            includes the audit of the competitive market, understanding of social factors and the psychology
            of the end user. The ideas that form the right image and make the world more interesting.</p>
        <ul class="workflow-list">
            <li>
                <span>Collect all information</span> >
            </li>
            <li>
                <span>Idea generation concept creation</span> >
            </li>
            <li>
                <span>Approval</span> >
            </li>
            <li>
                <span>Definition of proprietary fonts and colors</span> >
            </li>
            <li>
                <span>Elaboration of other elements of design</span>
            </li>
        </ul>
    </div>
</section>