<section class="container">
    <h2 class="text-center padded-bottom">Small Screen, Cinematic Results</h2>
    <p class="padded-bottom">Global web statistics indicate that over 1 in 5 web visitors are now using a mobile device when browsing the web.
        Would you turn away
        20% of the visitors to your brick and mortar store? If you don't have a mobile optimized web experience, that
        is essentially what you are doing.
        We can help you add a fun and engaging mobile experience to your existing website today or we can help you redesign
        your website to be mobile friendly from the ground up.
    </p>
    <div class="text-center padded-bottom">
        <img src="../../../../styles/images/mobile.jpg" class="hidden-sm hidden-xs" alt="">
    </div>
    <div class="row text-center padded-bottom">
        <div class="col-sm-4 text-center">
            <span class="mobile-dev-icon responsive-icon"></span>
            <h4 class="text-capitalize text-center">Responsive design</h4>
            <p>One Site, One URL
                If you're building a new website, the
                preferred method for mobile optimization is a responsive website. A responsive website is a
                single website that automatically adjusts to fit whatever screen it is being displayed on.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="mobile-dev-icon time-icon"></span>
            <h4 class="text-capitalize text-center">Instant mobile</h4>
            <p>Multiple Sites, One CMS
                Instant Mobile technology can be a great fit if your mobile website needs to differ significantly
                from your traditional website. This technology makes it possible to have several different
                website experiences powered by the same content management system.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="mobile-dev-icon mobile-icon"></span>
            <h4 class="text-capitalize text-center">Device specific</h4>
            <p>One Site Each Device
                If you have an existing website and would like to expand it with mobile functionality,
                we can build a separate mobile experience and automatically show it to users who visit
                your traditional website.</p>
        </div>
    </div>
</section>
<section class="bg-color-1 bottom-padded">
    <div class="container">
        <h1 class="text-center">Cross Platform & Cross Browser Compatibility</h1>
        <p class="text-muted padded-bottom">One of the biggest benefits of a mobile website over a mobile application is
            that a single experience can be designed to work across all devices and platforms.
            This significantly lowers the development cost and makes updates and maintenance a breeze.</p>
        <ul class="workflow-list">
            <li>
                <span>Chrome</span> >
            </li>
            <li>
                <span>Firefox</span> >
            </li>
            <li>
                <span>Internet Explorer</span> >
            </li>
            <li>
                <span>Safari</span> >
            </li>
            <li>
                <span>Opera</span>
            </li>
        </ul>
    </div>
</section>