<section class="container padded-bottom">
    <h2 class="text-center">
        We craft digital, graphic and 3 dimensional thinking,
        to create category leading brand experiences that have meaning, relevance and deliver extraordinary value.
    </h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-capitalize">smart design</h4>
            <p>
                We combine smart design with rich technology to craft innovative brand and business solutions.
            </p>
        </div>
        <div class="col-sm-6">
            <h4 class="text-capitalize">client first</h4>
            <p>
                For every project we take on we strive to deliver memorable and groundbreaking work for our clients.
            </p>
        </div>
    </div>
</section>
<section class="blog-categories">
    <div class="blog-categories-bg">
        <div class="container">
            <h4 class="text-color-1 text-center text-uppercase padded-bottom">Blog Categories</h4>
            <ul class="categories-list">
                <li class="blog-category"><span class="cat-logo category-1"></span><span class="category-name">Inspiration</span></li>
                <li class="blog-category"><span class="cat-logo category-2"></span><span class="category-name">How-To</span></li>
                <li class="blog-category"><span class="cat-logo category-3"></span><span class="category-name">Trends</span></li>
                <li class="blog-category"><span class="cat-logo category-4"></span><span class="category-name">Design</span></li>
                <li class="blog-category"><span class="cat-logo category-5"></span><span class="category-name">Travel</span></li>
                <li class="blog-category"><span class="cat-logo category-6"></span><span class="category-name">Hi-Tech</span></li>
            </ul>
        </div>
    </div>
</section>