<section class="container">
    <h2 class="text-center padded-bottom">Focusing on convenience and performance</h2>
    <p class="text-center padded-bottom">
        Web project is a unique and comprehensive source of information, where everything you offer is represented. It’s like a big
        supermarket, where you want to buy only a loaf of bread but your eye immediately catches everything but the bread.
        And sometimes it takes a very long time to find shelves with bread somewhere in the end, in the farthest corner of the room.
        And this is all because the organizers of the supermarkets are not familiar with the concepts such as «user-friendly
        interface,» «usability» or «web navigation». Time is precious for us so learn to use it with maximum efficiency and
        effectiveness.
    </p>
    <div class="row list-with-borders bottom-padded">
        <div class="col-md-4 item-bordered">
            <div class="web-dev text-center">
                <img src="../../../../styles/images/web-dev-icon-1.png" alt="web-dev-icon-1">
                <h4><b>Designing</b></h4>
                <p class="desc">
                    Creating a navigation
                    and a structure of your resource.
                </p>
            </div>
        </div>
        <div class="col-md-4 item-bordered">
            <div class="web-dev text-center">
                <img src="../../../../styles/images/web-dev-icon-1.png" alt="web-dev-icon-2">
                <h4><b>Programming</b></h4>
                <p class="desc">
                    The process of developing Web-based products and information systems.
                </p>
            </div>
        </div>
        <div class="col-md-4 item-bordered">
            <div class="web-dev text-center">
                <img src="../../../../styles/images/web-dev-icon-1.png" alt="web-dev-icon-3">
                <h4><b>Prototyping</b></h4>
                <p class="desc">
                    The process of creating the layout
                    of websites and web applications.
                </p>
            </div>
        </div>
        <div class="col-md-4 item-bordered">
            <div class="web-dev text-center">
                <img src="../../../../styles/images/web-dev-icon-1.png" alt="web-dev-icon-4">
                <h4><b>Usability</b></h4>
                <p class="desc">The degree of clarity and convenience of the site from a user’s perspective.</p>
            </div>
        </div>
        <div class="col-md-4 item-bordered">
            <div class="web-dev text-center">
                <img src="../../../../styles/images/web-dev-icon-1.png" alt="web-dev-icon-5">
                <h4><b>Content</b></h4>
                <p class="desc">Professionally written textual information, advertisings and more.</p>
            </div>
        </div>
        <div class="col-md-4 item-bordered">
            <div class="web-dev text-center">
                <img src="../../../../styles/images/web-dev-icon-1.png" alt="web-dev-icon-6">
                <h4><b>Web Support</b></h4>
                <p class="desc">Maintaining your website
                    with the help of our specialists.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-color-1 top-bottom-padded">
    <div class="container">
        <h1 class="text-center">Technologies we use to build your product</h1>
        <div *ngFor="let technology of technologies" class="list-margined">
            <p class="text-muted text-uppercase text-center lines-both-side">{{technology.name}}</p>
            <ul class="workflow-list items-margined">
                <li *ngFor="let item of technology.items">
                    <span>{{item}}</span>&nbsp;
                </li>
            </ul>
        </div>

    </div>
</section>