<section class="top-header">
    <div class="subheader imaged" [ngStyle]="{'background-image': 'url(' + service.imgUrl + ')'}">
        <div class="text-vertical-aligned">
            <h1 class="text-center">{{service.title}}</h1>
            <h2 class="text-center hidden-sm hidden-xs">{{service.desc}}</h2>
        </div>
    </div>
    <section class="container">
        <h2 class="text-center hidden-sm hidden-xs">Aimed at a functional and attractive design</h2>
        <p class="text-center">
            A brand is a candy paper wrap — the exterior of your business. It is the first thing your potential customer visualy sees. The significance of branding can’t be overemphasized: we won’t buy a car which we don’t like and we don’t care how many horses there are under the hood. We won’t go to the restaurant, the name of which doesn’t get up an appetite and we won’t go to a movie if its trailer is boring
            However, the car which your ignored may actually be very reliable and durable, the «tasteless» named restaurant may offer the most exquisite dishes, and the movie with a boring trailer may turn out to be a masterpiece of a young director.
            That’s why the brand is so important.
        </p>
        <section class="relative mb-1">
            <div class="row">
                <div class="bg-img col-md-7" [ngStyle]="{'background-image': 'url(' + service.bigImgUrl + ')'}"></div>
                <div class="col-md-5 col-md-offset-7">
                    <ul class="numbered-list">
                        <li>
                            <span class="list-number">1</span>
                            <h5>LOGO DESIGN</h5>
                            <p>Professional and creative Logos for
                                Businesses and Products</p>
                        </li>
                        <li>
                            <span class="list-number">2</span>
                            <h5>PRINT PRODUCTION</h5>
                            <p>Brochures, Posters, Roll-ups, Advertisements, Packages, Catalogs, Booklets, Stationery,
                                Business Documents, Promotional materials, Outdoor Banners and Signs...</p>
                        </li>
                        <li>
                            <span class="list-number">3</span>
                            <h5>DIGITAL PRODUCTION</h5>
                            <p>Fillable E-Forms and all other online-distributed documents</p>
                        </li>
                        <li>
                            <span class="list-number">4</span>
                            <h5>WEB PRODUCTION</h5>
                            <p>Responsive Creative Web Sites: Blog, Portal/CMS, Social Networking, Polls & Surveys,
                                E-commerce, Landing pages, Helpdesk, E-learning, Ad Management</p>

                        <li>
                            <span class="list-number">5</span>
                            <h5>GUI DESIGN</h5>
                            <p>Graphical User Interface for Web Applications and Mobile Applications</p>
                        </li>
                        <li>
                            <span class="list-number">6</span>
                            <h5>PRESENTATION DESIGN</h5>
                            <p>3D Animation, Flash and Video
                                Presentations</p>
                        </li>
                        <li>
                            <span class="list-number">7</span>
                            <h5>EDITORIAL SERVICES</h5>
                            <p>Copywriting, Creative Writing and Translation in Multiple Languages</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</section>

<contact-us></contact-us>
<sub-footer></sub-footer>