<div class="container top-header">
    <div class="row content-margined">
        <div class="col-md-6">
            <h3><b>Tell us about your project and let`s get started!</b></h3>
            <br />
            <h5 class="text-uppercase">our contacts</h5>
            <h3 class="text-muted">+38 (097) 553 55 88</h3>
            <h3 class="text-muted">+38 (063) 882 34 04</h3>
            <h3 class="text-muted">
                <a href="mailto:office@trident.agency">office@trident.agency</a>
            </h3>
            <h3 class="text-muted">
                <a href="mailto:info@trident.agency">info@trident.agency</a>
            </h3>
        </div>

        <div class="col-md-6">
            <form name="contact-form">
                <p>
                    <label class="text-uppercase">subject</label>
                    <span *ngIf="services">
                        <ng-select [allowClear]="false"
                                   [items]="services"
                                   (selected)="selected($event)"
                                   placeholder="UI/UX Design, Web development...">
                        </ng-select>
                    </span>
                </p>

                <p>
                    <label class="text-uppercase">your name</label>
                    <input type="text" required placeholder="First name, Last name" class="form-control" />
                </p>

                <p>
                    <label class="text-uppercase">your message</label>
                    <textarea name="message" placeholder="Tell Us About Your Project" class="form-control"></textarea>
                </p>

                <p>
                    <label class="text-uppercase">your e-mail</label>
                    <input type="email" placeholder="name@mail.com" class="form-control" />
                </p>

                <p class="clearfix">
                    <span class="btn btn-default btn-file">
                        Browse <input type="file">
                    </span>
                    <button type="submit" class="text-uppercase btn btn-primary btn-inversed pull-right">send a message</button>
                </p>
            </form>
        </div>

    </div>
</div>