<section class="contact-us passionate bg-color-1">

    <div class="container">
        <div class="col-lg-7 col-sm-12">
            <h2>We are passionate about <em>what we do</em></h2>
            <p class="hidden-xs text-color-4">
                Yes, you are independent. Yes, you know how to read and use the search engine. Yes, you like to be satisfied.
                Anyway, if you have any questions don`t hesitate to ask.
            </p>
        </div>
        <div class="col-lg-5 col-sm-12">
            <p class="margined">
                <a class="btn-wider btn btn-success border-radius btn-filled pull-right" [routerLink]="['contactUs']">Contact Us</a></p>
        </div>
    </div>

</section>