<section class="contact-us passionate">

    <div class="container">
        <div class="col-lg-7 col-sm-12">
            <h3>We are passionate about what we do</h3>
            <p class="hidden-xs text-color-3">
                Yes, you are independent. Yes, you know how to read and use the search engine. Yes, you like to be
                satisfied.
                Anyway, if you have any questions don`t hesitate to ask.
            </p>
        </div>
        <div class="col-lg-5 col-sm-12 margined text-center">
            <a class="btn-wider btn btn-success border-radius btn-filled pull-right-md btn-success-inverse btn-big"
               [routerLink]="['/contactUs']">Contact Us</a>
        </div>
    </div>

</section>