
main-header{
    display: block;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background: none;
}

.navbar-default .navbar-brand{
    color: @white;
    .logo-point{
        color: @green;
        font-weight:bold;
    }
}

.nav.navbar-nav{
    li{
        a{
            border-bottom: 3px solid transparent;
            &.active{
                border-color: @green;
            }
        }
    }
}