<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" routerLinkActive="active" routerLink="" data-toggle="collapse" data-target="#bs-navbar"></a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a data-toggle="collapse" data-target="#bs-navbar" routerLinkActive="active" routerLink="/portfolio"><em>{{'portfolio' | translate}}</em></a></li>
                <li>
                    <div class="btn-group" routerLinkActive="active-link-wr" [routerLinkActiveOptions]="{exact: true}">
                        <a class="submenu-trigger" data-toggle="dropdown" href="#">
                            <span><em>{{'ourServices' | translate}}</em></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of services">
                                <a routerLinkActive="active"
                                   data-toggle="collapse"
                                   data-target="#bs-navbar"
                                   [routerLink]="['/ourService', item.id]"
                                   *ngIf="item.providing">
                                    {{item.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group" routerLinkActive="active-link-wr" [routerLinkActiveOptions]="{exact: true}">
                        <a class="submenu-trigger"
                            data-toggle="dropdown" href="#">
                            <span><em>{{'About us' | translate}}</em></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-toggle="collapse" data-target="#bs-navbar" routerLinkActive="active" [routerLink]="['/experience']">{{'experience' | translate}}</a>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#bs-navbar" routerLinkActive="active"[routerLink]="['/workflow']">{{'workflow' | translate}}</a>
                            </li>
                            <li><a data-toggle="collapse" data-target="#bs-navbar" routerLinkActive="active" routerLink="/privacyPolicy">Privacy police</a></li>
                            <li><a data-toggle="collapse" data-target="#bs-navbar" routerLinkActive="active" routerLink="/termsAndConditions">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </li>
                <!--<li>
                    <div class="btn-group btn-group-sm">
                        <button type="button" [ngClass]="{'btn-primary':isEnglish}" (click)="changeLang('en')" class="btn btn-default">En</button>
                        <button type="button" [ngClass]="{'btn-primary':isRussian}" (click)="changeLang('ru')" class="btn btn-default">Ru</button>
                    </div>
                </li>-->
                <li><a routerLinkActive="active" routerLink="/contactUs" class="btn-wider btn btn-success border-radius">{{'contactUs' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>