<div class="subheader-titled">
    <h1 class="text-center">{{work?.title}}</h1>
    <div>
        <span class="border-bottom"></span>
    </div>
</div>

<section class="portfolio-item-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="portfolio-text">{{work.year}}</p>

                <p class="text-muted">
                    Project, Client
                </p>
                <p class="portfolio-text">{{work.client}}</p>

                <p class="text-muted">Task</p>
                <p>{{work.task}}</p>

                <p class="text-muted">Solution</p>
                <p>{{work.solution}}</p>
                <div class="clearfix portfolio-links">
                    <a [href]="work.presentationUrl" *ngIf="work.presentationUrl"  class="btn-new-style btn-wider btn btn-primary border-radius text-color-3" target="_blank">
                        View Full Presentation
                    </a>
                    <a [href]="work.websiteUrl" *ngIf="work.websiteUrl" class="btn-new-style btn-wider btn btn-success border-radius text-color-3" target="_blank">
                        Go To Website
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="work-container" [ngStyle]="{'background-image': 'url(' + work.imgPortfolioUrl + ')'}" ></div>
            </div>
        </div>
    </div>
</section>

<contact-us></contact-us>