.work-item-wrapper {
    margin-bottom: 1em;
}

.vertical-centered {
    height: 15em;
    overflow: hidden;
    line-height: 15em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 100%;
}

.work-container {
    background: gray;
    position: relative;
    overflow: hidden;
    background-size: cover;

    .vertical-centered {
        position: relative;
        z-index: 1;
        color: white;
        line-height: 15em;
        text-align: center;
    }
}
