@import "../../../styles/variables";
.work-item-wrapper {
    margin-bottom: 1em;
}

.vertical-centered {
    height: @card-font-size;
    overflow: hidden;
    line-height: @card-font-size;
}

.work-container {
    background: @gray2;
    position: relative;
    overflow: hidden;
    background-size: cover;

    .vertical-centered {
        position: relative;
        z-index: 1;
        color: @white;
        text-align: center;
    }
}
