@media (max-width: 768px) {
  html, body{
      font-size: 10px;
  }
  body{
    .positive-aspects{
      padding: 0;
    }

    .profit-wrapper{
        padding-bottom: 7rem;
    }

    .passionate{
      padding: 0 0 2rem 0;
    }

    .sm-no-border-radius{
      border-radius: 0;
    }
    h1{
      font-size: 3.5rem;
    }
    h2{
      font-size: 2.8rem;
    }
    .blog-category{
      margin-bottom: 1em;
    }
    .slide-mark{
      font-size: 1.4em;
    }
  }
  .carousel-inner{
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  main-header{
    .collapse.navbar-collapse{
      float: right;
    }
  }
}

@media (max-width: 1024px){
  .text-center-sm-xs{
    text-align: center;
  }
}

@media (min-width: 1024px){
  .pull-right-md {
    float: right;
  }
}
@media (max-width: 540px){
  body work.portfolio-item .work-item-wrapper .portfolio-title{
    bottom: 0;
  }
}