my-app{
    display: block;
}
body {
  padding: 0;
  color: black;
}

.bordered{
  border-radius: 3px;
}

.subheader.imaged{
    height: 25em;
    background-size: cover;

}
.navbar-nav > li > a.btn{
  padding: 0.5em 1em;
}
why-we{
  display: block;
}

.positive-aspects {
  padding: 3em;
}

.border-radius{
  border-radius:2em;
}

.text-color-1{
  color: #B3B4B6;
}

.text-color-2{
  color: #8C8D92;
}

.text-color-3{
  color: #0A0A0F;
}

.text-color-4{
  color: #828688;
}

.bg-color-1{
  background-color: #EFF3F6;
}

.top-header{
  margin-top: 50px;
}

html body .btn{
  padding: 0.5em 1em;
}

.btn.btn-success{
    background-color: transparent;
    border-width: 3px;
  }

