my-app{
    display: block;
}
body {
  padding: 0;
  color: black;
}

.bordered{
  border-radius: 3px;
}

.subheader.imaged{
    height: 25em;
    background-size: cover;
}

.navbar-nav > li > a.btn{
  padding: 0.5em 2.5em;
}
why-we{
  display: block;
}

.navbar.navbar-default{
  padding: 0.5em;
}

.nav.navbar-nav .btn-group-sm{
  margin: 0.5em 2em;
}

.sub-footer{
  margin-top: 3em;
  padding-bottom: 5em;
}

.sub-footer .subfooter-menu ul{
  padding: 0;
  margin: 0;
}

.subfooter-menu ul{
  list-style: none;
}

.positive-aspects {
  padding: 3em;
}

.border-radius{
  border-radius:2em;
}

.text-color-1{
  color: #B3B4B6;
}

.text-color-2{
  color: #8C8D92;
}

.text-color-3{
  color: #0A0A0F;
}

.text-color-4{
  color: #828688;
}

.text-color-5{
  color: #fff;
}

.text-color-6{
  color: #ACDA39;
}

.bg-color-1{
  background-color: #EFF3F6;
}

.top-header{
  margin-top: 50px;
}

html body .btn{
  padding: 0.5em 1em;
}

.btn.btn-success{
    background-color: transparent;
    border-width: 3px;
  }

